
body
{
    background-color: rgb(135,206,235);
}
#first-child
{
background-color: black;
	color: white;
}
#nith-child
{
	color: red;
}
#white{
	background-color: white;
}
#pink{
	background-color: pink;
}
#grey{
	background-color: grey;
	
}